fieldset {
    border: none;
    width: 200px;
    margin-left: 10px;

}

section {
    margin: 5px 0 15px 0;
    padding: 10px 0 10px 0;
    align-content: center;
    background-color: rgb(211, 207, 207); 
}

table {
    padding: 10px 25px 25px 25px;
    
}

body {
    width: 675px;
    
}

main {
    width: 675px;
    margin: 100px auto;
    padding: 20px;
}

td {
    padding: 2px 4px 2px 4px;
    
}